@import "tailwindcss";

.navLetter {
  color: #31473A;
}

.mainNavbar {
  display: flex;
  background-color: #EDF4F2;
  width: 100vw;
  height: 3rem;
}

@media (min-width: 480px) {

  .mainNavbar {
    height: 3.4rem;
}
}

@media (min-width: 768px) {

  .mainNavbar {
    height: 4rem;
}
}